/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 36);
    color: rgb(227, 227, 236);
    text-decoration-color: aliceblue;
  }
  body h1 {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

  }
  
  .charts-section {
    flex: 1;
    min-width: 700px;
    /* min-height: 600px; */
  }
  
  .list-section {
    flex: 0;
  }
  
  .details-section {
    flex: 1;
  }
  
  button {
    margin: 5px;
  }
  div#buttonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}



div#buttonContainer {
  display: grid;

  font-size: 0px;

}
button{
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(10, 10, 71);
  color: aliceblue;
}
button:hover {
  background-color: #2980b9;

}
#chart{
  width: 80%;
  background-color: rgb(255, 255, 255);
}
.button-container {
  margin-bottom: px; /* Adjust the margin bottom as needed */
  
}

.stock-button {
  padding: 1px 1px; /* Adjust the padding as needed */
  font-size: 13px; /* Adjust the font size as needed */
}
.stats-section{
  display: grid;

}